<form>

	<legend>Edit {{name}}</legend>
	
	<fieldset>
		<p>
			<label for="name">Name</label>
			<input type="text" id="name" value="{{name}}"/> 
		</p>
		<p>
			<label for="email">Email</label>
			<input type="text" id="email" value="{{email}}"/>
		</p>
		<p>
			<label for="password">Password</label>
			<input type="password" id="password" value="{{password}}"/>
		</p>
	</fieldset>

	<fieldset class="actions">
		<button class="save">Save</button>
		<button class="cancel">Cancel</button>
	</fieldset>

</form>