!!!
html( lang="en" )

head
	meta( charset="utf-8" )
	meta( http-equiv="X-UA-Compatible", content="IE=edge,chrome=1" )
	meta( name="viewport", content="width=device-width,initial-scale=1" )
	link( rel="stylesheet", href="/assets/css/style.css" )
	title Backbone Boilerplate ( #{title} )

body

	//- Main container -//
	div( role="main", id="main" )
		
		header
			a( href="#" ): img( src="/assets/img/backbone.png" )
			hr

		div#content
			!= body
	

	//-
		Using the build tool? If yes, delete the following uncommented scripts 
		and read the comments starting on line 31.
	//- Libraries -//
	script( src="/assets/js/libs/jquery.js" )
	script( src="/assets/js/libs/underscore.js" )
	script( src="/assets/js/libs/backbone.js" )
	//- Application -//
	script( src="/app/index.js" )
	script( src="/app/modules/example.js" )
	script( src="/app/modules/resource.js" )
		
	//-
		If using the build tool you can uncomment the following lines and underscore
		these instead.  They will toggle based on if you are using debug or
		release.
	//-
		script( src="/assets/js/libs.js" )
		script( src="/assets/js/templates.js" )
		script( src="/assets/js/app.js" )
	
