div#login
	form
		fieldset
			p
				label( for="user" ) Username
				input#user( type="text", name="user", placeholder="username@email.com" )
			p
				label( for="password" ) Password
				input#password( type="password", name="password" )
			p
				input.submit( type="submit", value="Login" )